léo.com {
  redir /game https://pebll.itch.io/calavera 301

  handle /calavera/* {
    uri strip_prefix /calavera
    reverse_proxy calavera-server-service:9080
  }

  handle /elo-estimator* {
    reverse_proxy elo-estimator-website-service:5000
  }

  handle /spriteslicer* {
      reverse_proxy spriteslicer-website-service:5173
    }

  handle {
    reverse_proxy website-service:8000
  }
}

radicale.léo.com {
  reverse_proxy radicale-service:5232
}

